.gallery {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.gallery ul{
  display: flex;
  flex-direction: row;
}

.gallery ul li{
  margin-left: 25px;
}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{
  margin: 1rem;
  border:solid 6px white;
  border-radius: 15px;
  max-width: 300px;
}